.skillsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

.skillCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.categories {
    margin: 5px auto;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categories button.active {
    background-color: var(--app-bg);
    border: 1px solid var(--app-border-color);
}
